.about {
	.background {
		background: url('../assets/beauty.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 260px;
		margin-bottom: 10px;
	}
	.img {
		display: block;
		width: 100px;
		height: 100px;
		border: 1px solid #fafafa;
		border-radius: 50%;
		background-color: #fafafa;
		margin: 0 auto;
		margin-top: -60px;
		padding: 5px;
	}
	.content {
		display: block;
		margin: 0 auto;
	}
	.title {
		text-align: center;
		font-size: 20px;
		color: $primary-color;
		margin: 10px;
	}
	li {
		display: block;
		text-align: center;
		
	}
	.social {
		text-align: center;
		padding-top: 10px;
		li {
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: $accent-color;
			i {
				color: white;
				line-height: 40px;
				font-size: 16px;
			}
		}
		
	}
}