.home {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: url("../assets/home-bg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	.overlay {
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: #fff;
	}
	.title {
		font-size: 42px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 15px;
	}
	.subtitle {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 38px;
		 
	}
	.name {
		color: $primary-color;
	}
	button {
		border: none;
		border-radius: 2px;
		min-width: 100px;
		height: 36px;
		font-size: 14px;
		color: #fff;
		background-color: $primary-color;
		text-transform: uppercase;
		&:hover {
			background-color: #0097a7;
		}
		&:focus {
			outline: none;
		}
	}
}