body {
  font-family: sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #727272; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

li, ul {
  list-style: none; }

ul {
  padding: 0; }

.app-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.app-header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  background-color: #00BCD4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .app-header a {
    font-size: 11px;
    color: #FFFFFF; }
  .app-header .button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 15px; }

.sidebar {
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #00BCD4;
  width: 300px; }
  .sidebar a {
    padding: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5); }
    .sidebar a:hover {
      background-color: rgba(0, 0, 0, 0.1); }

.content {
  background-color: #fafafa;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 16px;
  overflow-y: scroll;
  position: relative; }

.app-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 80px;
  border-top: 1px solid #e6e6e6;
  background-color: #00BCD4; }
  .app-footer a {
    padding: 15px;
    color: rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .app-footer a:first-child {
      border-left: none; }
    .app-footer a:hover {
      border-bottom: 4px solid #FF4081; }
    .app-footer a.active {
      border-bottom: 4px solid #FF4081; }
  .app-footer i {
    margin-bottom: 12px;
    color: white;
    font-size: 25px; }

@media (min-width: 800px) {
  .app-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .app-header, .app-footer {
    display: none; }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.home {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: url("../assets/home-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .home .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #fff; }
  .home .title {
    font-size: 42px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px; }
  .home .subtitle {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 38px; }
  .home .name {
    color: #00BCD4; }
  .home button {
    border: none;
    border-radius: 2px;
    min-width: 100px;
    height: 36px;
    font-size: 14px;
    color: #fff;
    background-color: #00BCD4;
    text-transform: uppercase; }
    .home button:hover {
      background-color: #0097a7; }
    .home button:focus {
      outline: none; }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px; }
  .blog .post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blog .p-header {
    background-color: #00BCD4;
    height: 100px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .blog .p-header span {
      font-size: 20px;
      color: #fff;
      border: 1px solid #fff;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      line-height: 60px;
      margin: 0 auto; }
  .blog .p-content {
    padding: 16px; }
    .blog .p-content h2 {
      margin-top: 0;
      font-size: 18px; }
  .blog button {
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #FF4081;
    border-radius: 20px;
    padding: 5px 20px;
    color: #FF4081;
    font-size: 14px; }
    .blog button:hover {
      color: #fff;
      background-color: #FF4081; }

@media (min-width: 1068px) {
  .blog {
    width: 700px;
    margin: 30px auto; } }

@media (min-width: 1500px) {
  .blog {
    width: 960px; }
    .blog .post {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    .blog .p-header {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 100px;
      height: auto;
      border-radius: 0 10px 10px 0; }
    .blog .p-content {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 600px;
      font-size: 16px; }
      .blog .p-content h2 {
        font-size: 20px;
        margin-top: 0; } }

.work {
  margin: 0 auto;
  padding: 16px; }
  .work .card {
    -webkit-transition: all 450ms ease;
    transition: all 450ms ease;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%; }
    .work .card img {
      max-width: 100%;
      margin: 0 auto;
      border: 1px solid #eee; }
    .work .card p {
      word-wrap: break-word; }
    .work .card:hover {
      cursor: pointer;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.12), 0 1px 24px rgba(0, 0, 0, 0.24); }

@media (min-width: 1000px) {
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .work .card {
      margin: 20px;
      width: calc(50% - 40px); } }

@media (min-width: 1200px) {
  .work .card {
    width: calc(33.3333% - 40px); } }

.about .background {
  background: url("../assets/beauty.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 260px;
  margin-bottom: 10px; }

.about .img {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #fafafa;
  border-radius: 50%;
  background-color: #fafafa;
  margin: 0 auto;
  margin-top: -60px;
  padding: 5px; }

.about .content {
  display: block;
  margin: 0 auto; }

.about .title {
  text-align: center;
  font-size: 20px;
  color: #00BCD4;
  margin: 10px; }

.about li {
  display: block;
  text-align: center; }

.about .social {
  text-align: center;
  padding-top: 10px; }
  .about .social li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF4081; }
    .about .social li i {
      color: white;
      line-height: 40px;
      font-size: 16px; }
